################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpBasics/.vs/CSharpBasics/v15
/.vs
/CSharpPractice/consolePractice/.vs/consolePractice/v15
/CSharpBasics/.vs/CSharpBasics/DesignTimeBuild
/CSharpBasics/.vs/CSharpBasics/v16
