################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpBasics/CSharpBasics/bin/Debug/netcoreapp2.2
/CSharpBasics/.vs/CSharpBasics/v15
